# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd
import scipy.stats
from scipy.stats import ttest_1samp

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:
salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
display(salaries.head())
display(salaries.shape)
salaries.info()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

(33702, 8)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33702 entries, 0 to 33701
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33702 non-null  object
 1   Job Titles         33702 non-null  object
 2   Department         33702 non-null  object
 3   Full or Part-Time  33702 non-null  object
 4   Salary or Hourly   33702 non-null  object
 5   Typical Hours      8174 non-null   float64
 6   Annual Salary      25528 non-null  float64
 7   Hourly Rate        8174 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.1+ MB

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
display(salaries.isna().sum())
salaries.isna().sum()/len(salaries)

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Name                 0.000000
Job Titles           0.000000
Department           0.000000
Full or Part-Time    0.000000
Salary or Hourly     0.000000
Typical Hours        0.757462
Annual Salary        0.242538
Hourly Rate          0.757462
dtype: float64

###### Typical Hours and Hourly Rate are related to each other. Because we do not have any values there, there are some missing values in annual salary. We can also see that depending on whether or not someone is paid with a salary or hourly the column "Annual Salary" or "Hourly Rate" are filled.

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
salaries['Salary or Hourly'].value_counts()

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
salaries['Department'].value_counts()

POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: Department, dtype: int64

In [7]:
# Could merge the variable to the top 10 departments and then add "other".

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [8]:
# H0: wage of all hourly workers = 30
# H1: wage of all hourly workers <> 30

In [84]:
# Your code here:

hourly_workers = np.random.normal(salaries['Hourly Rate'].mean(), salaries['Hourly Rate'].std(), 8174)
#     targeted mean value         ^
#  with a standard dev of              ^
# number of random values to generate        ^

In [10]:
hourly_workers

array([15.54564107, 23.96485421, 18.42216956, ..., 31.29184394,
       30.45894038, 41.60457556])

In [79]:
stat_all, pval_all = ttest_1samp(hourly_workers, 30)

print('stat is  ', stat_all)
print('pvalue for the one-tailed test is ', pval_all)

stat is   29.452849059167374
pvalue for the one-tailed test is  2.670412551304623e-181

In [81]:
print("SOLUTION: p < α, significant proof that the wage for all hourly workers is different from $30/hr. Therefore reject H0")

SOLUTION: p < α, significant proof that the wage for all hourly workers is different from $30/hr. Therefore reject H0

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [13]:
# H0: wage of all hourly workers <= 86000
# H1: wage of all hourly workers > 86000

In [16]:
# Your code here:
salaries_police = salaries[salaries['Department']=='POLICE']
display(salaries_police.shape)
salaries_police = np.random.normal(salaries_police['Annual Salary'].mean(), salaries_police['Annual Salary'].std(), 13848)

(13848, 8)

In [17]:
stat_police, pval_police = ttest_1samp(salaries_police, 86000)

print('stat is  ', stat_police)
print('pvalue for the one-tailed test is ', pval_police/2)

stat is   18.86923101991731
pvalue for the one-tailed test is  9.815577803189736e-79

In [82]:
print("SOLUTION: We can reject the H0 hypothesis, we have strong evidence that the mean income for police forces this year is higher than last year's mean of $86000")

SOLUTION: We can reject the H0 hypothesis, we have strong evidence that the mean income for police forces this year is higher than last year's mean of $86000

Using the `crosstab` function, find the department that has the most hourly workers.

In [64]:
# Your code here:
data_crosstab = pd.crosstab(salaries['Department'], salaries['Hourly Rate'], margins = True)
data_crosstab.reset_index()
data_crosstab.sort_values(by = 'All', ascending = False).head(2)
#Answer: Streets & San has the most hourly workers

Hourly Rate,2.65,8.25,9.74,10.0,10.5,12.0,13.0,13.4,13.45,13.94,...,53.4,53.91,54.05,54.1,55.1,57.04,58.4,61.65,128.0,All
Department,,,,,,,,,,,,,,,,,,,,,
All,260,4,2,2,1,16,62,107,1,49,...,48,1,30,24,12,68,10,1,1,8174
STREETS & SAN,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3,0,0,0,0,1846

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [74]:
# Your code here:
#H0 hourly wage >= $35/hour
#H1 hourly wage < $35/hour
salaries_street = salaries[salaries['Department']=='STREETS & SAN']

In [75]:
salaries_sts = np.random.normal(salaries_street['Hourly Rate'].mean(), salaries_street['Hourly Rate'].std(), 1846)
stat_sts, pval_sts = ttest_1samp(salaries_sts, 35)

In [76]:
print('stat is  ', stat_sts)
print('pvalue for the one-tailed test is ', pval_sts/2)

stat is   3.9659254834316737
pvalue for the one-tailed test is  3.7952258952286106e-05

In [83]:
print("SOLUTION: p < α, reject H0. We have strong significant evidence that the hourly wage of Street & San workers is below $35/hour.")

SOLUTION: p < α, reject H0. We have strong significant evidence that the hourly wage of Street & San workers is below $35/hour.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [90]:
# Your code here:
hourly_workers
confidence_level = 0.95 
degrees_freedom = len(hourly_workers) - 1  
sample_mean = np.mean(hourly_workers)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(hourly_workers) # sem = standard error of the mean = std(patients)/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, #df = number of sample -1
                                             sample_mean, 
                                             sample_standard_error)



print( 'confidence interval is ', confidence_interval, '.' )
print('\n')
print('''SOLUTION: There is a 95% chance that the wages are between 34.24 and 34.82 dollars per hour.''')

confidence interval is  (34.24685251096104, 34.823105132682166) .


SOLUTION: There is a 95% chance that the wages are between 34.24 and 34.82 dollars per hour.

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [92]:
# Your code here:

salaries_police
confidence_level = 0.95
degrees_freedom = len(salaries_police) -1
sample_mean = np.mean(salaries_police)
sample_standard_error = scipy.stats.sem(salaries_police)
confidence_interval = scipy.stats.t.interval(confidence_level,
                                            degrees_freedom,
                                            sample_mean,
                                            sample_standard_error)

print( 'confidence interval is ', confidence_interval, '.' )
print('\n')
print('''SOLUTION: There is a 95% chance that the wages are between 88601 and 89204 dollars per hour.''')

confidence interval is  (88601.62558480405, 89204.79659846623) .


SOLUTION: There is a 95% chance that the wages are between 88601 and 89204 dollars per hour.

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: